.preview-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 19960506;
}

.preview-innerWrapper {
  height: 100%;
}

.img-wrapper {
  position: absolute;
  top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ratio,
.icon-close {
  position: absolute;
  top: 60px;
  color: #fff;
}

.ratio {
  right: 5%;
  font-size: 30pt;
}

.icon-close {
  left: 5%;
  font-size: 36pt;
}

.img {
  width: 90%;
}

.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

@import url('//at.alicdn.com/t/font_425490_k9piwgj0rrckrzfr.css');
